/* FONT USED -> https://fonts.google.com/specimen/Poppins?category=Sans+Serif */
/* FONT FAMILY -> font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,300;1,500&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-image: url("media/mountain-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
    transition: all ease-in .5s;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 500%;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 25%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 200%;
}

/* SIDEBAR */

.menu-icon {
    width: 2.5%;
    height: 2.5%;
    padding-top: 1%;
    padding-left: 1%;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}